form.ffphp fieldset {
    margin: 0;
    padding: 10px 5px;
    border: none;
}
form.ffphp legend {
    font-weight: bold;
}
form.ffphp label {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top;
    padding-left: 0.5em;
}
form.ffphp fieldset ol {
    margin: 0;
    padding: 0;
}
form.ffphp fieldset li {
    list-style: none;
    padding: 0.45em 0 0.45em 0;
    margin: 0;
}
form.ffphp fieldset fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
form.ffphp fieldset fieldset legend {
    padding: 0;
    margin-left: -0.6em;
    font-weight: normal;
}
form.ffphp fieldset fieldset label {
    display: block;
    width: auto;
}

form.ffphp input,
form.ffphp textarea {
    width: 56%;
    width: -moz-calc(60% - 1.5em - 5px);
}

form.ffphp em {
    font-weight: bold;
    font-style: normal;
    color: red;
}
form.ffphp strong {
    font-weight: bold;
    font-size: 0.7em;
    color: red;
    vertical-align: middle;
}
form.ffphp label {
    width: 40%;
}
form.ffphp fieldset fieldset label {
    margin-left: 40%;
}
form.ffphp button {
    margin-left: 41%;
    margin-left: -moz-calc(40% + 0.6em);
}
form.ffphp fieldset.ffphp-button li {
    padding: 0 0 0 5px;
}

form.ffphp li.ffphp-r1 {
    background-color: none;
}
form.ffphp li.ffphp-r2 {
    background-color: #F5F5F5;
}
form.ffphp .ffphp-error {
    border: solid 2px red;
}
form.ffphp em.ffphp-error {
    border: none;
    color: red;
    font-size: 0.8em;
    font-weight: bold;
}